<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Add Employee</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" method="post" th:action="@{/createEmployee}" th:object="${employee}">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="name">First Name</label>
                            <input class="form-control" id="firstName" placeholder="First Name"
                                   th:field="*{firstName}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="name">Last Name</label>
                            <input class="form-control" id="lastName" placeholder="Last Name"
                                   th:field="*{lastName}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="email">Email</label>
                            <input class="form-control" id="email" placeholder="Email Id"
                                   th:field="*{email}" type="text"/>
                        </div>

                        <div class="col-md-6">
                            <input class="btn btn-primary" type="submit" value=" Submit ">
                        </div>

                        <input id="id" th:field="*{id}" type="hidden">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>